<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
</head>
<body>
    <nav>
        <a href="/About">See About Steve</a> 
        <a href="/PhotoGallery">Photos of Steve</a>    
    </nav>
    <h1>Steve Carell</h1>
    <div class='hero'> Steve is the best! </div>
    
</body>
</html>