body {
  color: blue;
  background-color: bisque;
}

.hero {
  background-image: url("/stylesheets/images/main-steve.jpg");
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
